<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<compatibility xmlns="urn:schemas-microsoft-com:compatibility.v1">
		<!-- ... other xml settings ... -->

		<System.Windows.Forms.ApplicationConfigurationSection>
			<add key="DpiAwareness" value="PerMonitorV2" />
			<add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
		</System.Windows.Forms.ApplicationConfigurationSection>

	</compatibility>
</configuration>
